html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212529;
    color: rgb(173, 181, 189);
}

.champ-cost-1 {
    border: 3px solid rgb(181, 181, 181);
}

.champ-cost-2 {
    border: 3px solid rgb(20, 207, 17);
}

.champ-cost-3 {
    border: 3px solid rgb(44, 118, 233);
}

.champ-cost-4 {
    border: 3px solid rgb(219, 31, 233);
}

.champ-cost-5 {
    border: 3px solid rgb(184, 163, 28);
}

.champ-cost-6 {
    border: 3px solid rgb(151, 201, 255);
}

.image-container {
    overflow: hidden;
    width: 64px;
    border-radius: 5px;
    height: 64px;
}

.image-container:not(:first-child) {
    margin-left: 5px;
}

.image-container img {
    position: relative;
    left: -64px;
    width: 128px;
}

.king-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 5px;
    background-color: darkgreen;
    border-radius: 8px;
}

.primary-trait-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 5px;
    background-color: darkgreen;
    border-radius: 8px;
}

.secondary-trait-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 5px;
    background-color: darkgreen;
    border-radius: 8px;
}

.roll-button {
    width: 23.375rem;
    height: 2.25rem;
    background-color: #3fd83d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

.column-parent {
    display: flex;
    flex-direction: row;
}

.left-column {
    width: 50%;
}

.right-column {
    width: 50%;
}

h1 {
    color: white;
}

h2 {
    margin-bottom: 0;
    color: white;
}

.king-champ-title {
    margin-bottom: 0;
}

.king-champ-name {
    margin-top: 0;
    margin-bottom: 3px;
    color: rgb(173, 181, 189);
}